<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.stoccheforbes.StoccheApp" 
        android-packageName="br.com.stoccheforbes.StoccheApp" 
        ios-CFBundleIdentifier="br.com.stoccheforbes.StoccheApp" 
        version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Stocche Forbes</name>
    <description>
        Neste aplicativo você encontrará informações sobre o escritório Stocche Forbes Advogados.
    </description>
    <author email="contato@born85.com.br" href="http://www.born85.com.br">
        Born85 Team
    </author>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"   value="portrait" />  <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"    value="true" />      <!-- all: hides the status bar at the top of the screen -->
        
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />

        <icon src="www/resources/icons/android/icon-36-ldpi.png"  density="ldpi" />
        <icon src="www/resources/icons/android/icon-48-mdpi.png"  density="mdpi" />
        <icon src="www/resources/icons/android/icon-72-hdpi.png"  density="hdpi" />
        <icon src="www/resources/icons/android/icon-96-xhdpi.png" density="xhdpi" />

        <splash src="www/resources/screen/android/splash-port-hdpi.png"  density="port-hdpi" />
        <splash src="www/resources/screen/android/splash-port-ldpi.png"  density="port-ldpi" />
        <splash src="www/resources/screen/android/splash-port-mdpi.png"  density="port-mdpi" />
        <splash src="www/resources/screen/android/splash-port-xhdpi.png" density="port-xhdpi" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <icon src="resources/icons/ios/icon-60@3x.png"    width="180" height="180" />
        <icon src="resources/icons/ios/icon-60.png"       width="60" height="60" />
        <icon src="resources/icons/ios/icon-60@2x.png"    width="120" height="120" />
        <icon src="resources/icons/ios/icon-76.png"       width="76" height="76" />
        <icon src="resources/icons/ios/icon-76@2x.png"    width="152" height="152" />
        <icon src="resources/icons/ios/icon-40.png"       width="40" height="40" />
        <icon src="resources/icons/ios/icon-40@2x.png"    width="80" height="80" />
        <icon src="resources/icons/ios/icon.png"          width="57" height="57" />
        <icon src="resources/icons/ios/icon@2x.png"       width="114" height="114" />
        <icon src="resources/icons/ios/icon-72.png"       width="72" height="72" />
        <icon src="resources/icons/ios/icon-72@2x.png"    width="144" height="144" />
        <icon src="resources/icons/ios/icon-small.png"    width="29" height="29" />
        <icon src="resources/icons/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="resources/icons/ios/icon-50.png"       width="50" height="50" />
        <icon src="resources/icons/ios/icon-50@2x.png"    width="100" height="100" />

        <splash src="resources/screen/ios/Default~iphone.png"            width="320" height="480" />
        <splash src="resources/screen/ios/Default@2x~iphone.png"         width="640" height="960" />
        <splash src="resources/screen/ios/Default-Portrait~ipad.png"     width="768" height="1024" />
        <splash src="resources/screen/ios/Default-Portrait@2x~ipad.png"  width="1536" height="2048" />
        <splash src="resources/screen/ios/Default-Landscape~ipad.png"    width="1024" height="768" />
        <splash src="resources/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536" />
        <splash src="resources/screen/ios/Default-568h@2x~iphone.png"    width="640" height="1136" />
        <splash src="resources/screen/ios/Default-667h.png"              width="750" height="1334" />
        <splash src="resources/screen/ios/Default-736h.png"              width="1242" height="2208" />
        <splash src="resources/screen/ios/Default-Landscape-736h.png"    width="2208" height="1242" />
    </platform>
</widget>
